<!-- Cities search bar -->
<app-autocomplete-filter *ngIf="citiesPost" [citiesNames]="citiesNames" (autoCompleteStr)="onEmitAutoCompleteStr($event)" (chosenCity)="onEmitChosenCity($event)"></app-autocomplete-filter>
<div *ngIf="chosenCity" class="city-name-container">
    <h2 class="city-name">{{chosenCity}}</h2>
    <!-- Favorite star at homepage -->
    <app-favorite-toggle [isFavorite]="isFavorite" (updatedFavorite)="onUpdatedFav($event)"></app-favorite-toggle>
</div>
<!-- 5days forecast -->
<app-forecasts-list *ngIf="post" [post]="post"></app-forecasts-list>