/* You can add global styles to this file, and also import other style files */
body{
    height: 100vh;
    background-image: linear-gradient(rgb(82, 114, 133), rgb(201, 175, 89));
    background-repeat: no-repeat;
    background-size: auto;
}