<form class="max-width" [formGroup]="stateForm" novalidate>
    <div class="search-box-container">
        <label for="search"><fa-icon [icon]="faSearch"></fa-icon>
        </label>
        <input id="search" placeholder="Search" formControlName="search" type="text" (click)="onToggleDropDown()">
        <div clickOutside (clickOutside)="onToggleDropDown()" *ngIf="showDropdown" class="state-conainer-dropdown">
            <div>
                <div class="city" (click)="onSelectValue(city)" *ngFor="let city of citiesNames | searchFilter:getSearchValue()">
                    {{city}}
                </div>
            </div>
        </div>
    </div>
</form>